#cadastro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

#mesmaLinha {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  width: 90%;
}

#cadastro .k-textbox,
#cadastro .k-dropdown,
#cadastro .k-numerictextbox {
  width: 90%
}

#botoesCadastro {
  width: 90%;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 22000;
  justify-content: center;
  align-items: center;
}

#validacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 203, 89);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

#botaoValidacao {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

#detalhes {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2%;
  margin-top: 1%;
  gap: 10px;

  width: 40%;
}